.contact {
    padding: 30px 0;
    @include media-breakpoint-up(lg) {
        padding: 60px 0 150px 0;

    }

    &__header {
        margin-bottom: 40px;

        @include media-breakpoint-up(lg) {
            margin-bottom: 150px;

        }
    }

    &__subtitle {
        top: 110px;

        @include media-breakpoint-up(lg) {
            top: 200px;
        }

    }

    &__info {
        &__title {
            font-size: 30px;
            line-height: 30px;
            font-family: $Work-Sans;
            color: $grey;

            @include media-breakpoint-up(lg) {
                font-size: 55px;
                line-height: 70px;
            }
        }

        &__email {
            text-decoration: none;
            font-family: $Work-Sans;
            color: $turquoise;
            font-size: 15px;
            line-height: 15px;

            @include media-breakpoint-up(lg) {
                padding: 20px;
                font-size: 50px;
                line-height: 100px;

            }
        }
    }

    &__social {
        display: flex;
        flex-direction: column;

        @include media-breakpoint-up(lg) {
            flex-direction: row;
        }

        &__title {
            font-size: 15px;
            line-height: 15px;
            color: $off-grey;
        }

        &__icon {
            margin: 0 25px;

        }
    }

}